@import "tailwindcss";

body {
  background-color: #020617;
  color: #f8fafc;
}

/* Hide print-only elements on screen */
.print-only {
  display: none !important;
}

@media print {
  @page {
    margin: 0;
    size: A4 portrait;
  }
  body {
    background-color: white !important;
    color: black !important;
  }
  /* Hide UI on print */
  .no-print {
    display: none !important;
  }
  /* Show slip only on print */
  .print-only {
    display: block !important;
  }
  .print-break-inside-avoid {
    break-inside: avoid;
  }
}
